{% set metadata = get_image_metadata(path = src) %}
{% set width = width | default(value = metadata.width) %}

{% set style = "max-width:" ~ width ~ "px;" %}

{% set class = "" %}
{% if float is defined and float == "left" %}
    {% set class = "float-left" %}
{% elif float is defined and float == "right" %}
    {% set class = "float-right" %}
{% endif %}

<figure style="{{ style }}" {% if class %} class="{{ class }}" {% endif %}>
    <img
        src="{{
            resize_image(
                path = src,
                width = width,
                op = "fit_width"
            ) | safe
        }}"
        {% if alt %} alt="{{ alt }}" {% endif %}
    >
    {% if caption %} <figcaption>{{ caption }}</figcaption> {% endif %}
</figure>
