<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%- if page.title is defined and page.title != "" -%}
            <title>{{ page.title }} | {{ config.title }}</title>
        {%- elif section.title is defined and section.title != "" -%}
            <title>{{ section.title }} | {{ config.title }}</title>
        {%- else -%}
            <title>{{ config.title }}</title>
        {%- endif -%}
        <link rel="stylesheet" href="{{ get_url(path = "all.css", cachebust = true) | safe }}">
    </head>
    <body {% block body_attrs %}{% endblock bodyattrs %}>
        {%- set top_section = get_section(path = "_index.md") -%}
        <nav>
            <a href="{{ top_section.permalink | safe }}">{{ top_section.title }}</a>
            {%- for page in top_section.pages -%}
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            {%- endfor -%}
        </nav>

        <main>
            {%- block body -%}{%- endblock body -%}
        </main>
    </body>
</html>
